kube-prometheus-stack:  
  alertmanager:
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
  prometheus:
    prometheusSpec:
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: longhorn
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
  grafana:
    persistence:
     enabled: true
     type: deployment
     storageClassName: "longhorn"
     accessModes:
       - ReadWriteOnce
     size: 20Gi
     finalizers:
       - kubernetes.io/pvc-protection