kanboard:
  application:
    port: 80
    additionalLabels: {}
    persistence:
      enabled: false
      persistentVolumeClaim:
        name: kanboard-pvc
        create: true
        storageClass: default
        size: 5Gi
        accessMode: ReadWriteOnce
  route:
    enabled: true
    parentRefs:
      - name: cilium-api-gateway
        namespace: cilium
        sectionName: https-gateway
