apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ app_name }}
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: '{{ chart_repo_url }}'
    targetRevision: '{{ target_revision }}'
    path: '{{ app_path }}'
    helm:
      chart: '{{ app_chart_name }}'
      version: '{{ app_chart_version }}'
      valueFiles:
        - values.yaml
  destination:
    server: '{{ target_server }}'
    namespace: '{{ app_namespace }}'
  syncPolicy:
    automated:
      prune: {{ prune }}
      selfHeal: {{ self_heal }}