apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-route
  namespace: argocd
spec:
  hostnames:
    - "argocd.virtualthoughts.co.uk"
  parentRefs:
    - group: gateway.networking.k8s.io	
      kind: Gateway
      name: cilium-api-gateway
      namespace: cilium
      sectionName: https-gateway
  rules:
    - backendRefs:
        - group: ''	
          kind: Service
          name: "argocd-server"
          port: 80
          weight: 1	
      matches:	
        - path:	
            type: PathPrefix	
            value: /         